wenn 😠 < 10
{
    a = 12.
}
sonst wenn a/xy != 3,14
{
    #marke schleife_1
    für i: 10..15
    {
        a += 1.
    }

    weiche art
    {
        ## hier die unterschiedlichen optionen auflisten
        Eins |> x = 1.
    }
}
sonst
{
    a = aufruf().
}
