Art || opt {
    Eins.
    Zwei | text.
    Drei | Vektor2 = { .x = 15 }
}

## variablendeklarationen
abc1 | Vektor2.

## mit datentypherleitung
abc2 |= 12.
abc3 | Vektor2 = { .x = 123,45 }.

xyz || (a| g32 = -314; b| d64; c| n32 = 15) -> g32.
zyx || (b| [10] Vektor2; c| *g32; yy| (z1| g32) -> g32)
{
    a |= 314.

    x1 | Vektor2 = {
        .x = 10; .y = 15;
    }.

    x2 |= {
        .x = 10; .y = 15;
    } <Vektor2>.

    xyz(a; 35,014; x1/x).

    ## mustervergleich
    weiche x2 {
        { .x = 15 } |> {
            ## eigenschaftszugriff
            x1/x = 15.
        }
    }
}

Vektor2 || schablone {
    x, y| d32.
    z| Vektor2.
}
